<h2>Edit Thread</h2>

<%= render "form.html", changeset: @changeset,
                        action: thread_path(@conn, :update, @thread) %>

<span><%= link "Back", to: thread_path(@conn, :index) %></span>
